body {
    background :#c2edd1;
    font-family: 'Poppins',sans-serif;
}

#navbar {
    font-weight: 100;
    font-size: 1.5rem;
}

#navbar .nav-link {
    color: white;
}

#navbar .nav-link:hover {
    color: gray;
}

#navbar .navbar-brand {
    color: black;
}

.navbar.scrolled {
    background-color: #c2edd1;
    /* transition: bakground:500ms; */
}
#title-head {
    font-weight: 400;
    font-size: 4rem;
}

.blurb h2 {
    color:#354259;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: gray;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

/* .content {
    margin-top: 100px;
    margin-bottom: 100px;
} */

@media (max-width: 1200px) {
    #title-head h1{
        font-weight: 100;
        font-size: 3rem;
    }
}

